﻿@model IEnumerable<TiendaMusica.Logica.ViewModels.AlbumsPorArtistaViewModel>

@{
    ViewBag.Title = "Albums";
}

<h2>Albums</h2>
 
<hr />

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-3 portfolio-item">
            <a href="/@item.ArtistaSlug/@item.AlbumSlug/tracks">
                <img src="~/Albums/Thumbnails/@item.ImagenPath" class="img img-thumbnail" style="height:200px; " />
            </a>
            <h3>
                <a href="/@item.ArtistaSlug/@item.AlbumSlug/tracks">@item.Album </a>
            </h3>
            <p><a href="/admin/@item.ArtistaSlug/@item.AlbumSlug/edit">Editar</a></p>
        </div>
    }

</div>


<a href="/artists" class="btn btn-default ">Artistas</a>