﻿@model IEnumerable<TiendaMusica.Logica.ViewModels.ArtistasViewModel>

@{
    ViewBag.Title = "Artistas";
}

<h2>Artistas</h2>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <a href="@item.Slug/albums">@item.Artista</a>
                </li>
            }
        </ul>
    </div>
</div>
