﻿@model TiendaMusica.Logica.ViewModels.AlbumEditarViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@using (Html.BeginForm("Edit", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Seleccione un archivo</label>
            <div class="col-md-10">
                <input type="file" id="archivo" name="archivo" class="form-control" accept="image/*" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <img src="~/Albums/Thumbnails/@Model.Imagen"  id="thumbnail"  style="width:200px" class="img img-thumbnail" />
                <input type="hidden" name="Imagen" value="@Model.Imagen" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>

    </div>
    }

    <div>
      <a href="/@Model.ArtistaSlug/albums" class="btn btn-default">Cancelar</a>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script>

         
        $("#archivo").change(function () {
            var file = (this).files[0];

            if (file.size > 20480000) {
                $("#archivo").val("");
                alert("El arvhivo supera los 20Mb");
                return;
            }

            if ((this).files && file) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#thumbnail').attr('src', e.target.result);
                }
                reader.readAsDataURL(file);
            }

        });

    </script>