﻿@model IEnumerable<TiendaMusica.Logica.ViewModels.CancionesPorAlbumViewModel>

@{
    ViewBag.Title = "Tracks";
}


<h2>Tracks</h2>

<hr />

<div class="row">
    <div class="col-md-8">


        <table id="track-list" class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="4" class="text-center">
                        <audio id="audio" controls>
                            <source  type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </th>
                </tr>

                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cancion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tamano)
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        @if (item.FilePath != null)
                        {
                            <a href="#" data-file="@item.FilePath" class="play">
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cancion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tamano) b
                    </td>
                    <td>
                        <a href="/admin/@item.ArtistaSlug/@item.AlbumSlug/@item.CancionSlug/edit">Editar</a>
                    </td>
                </tr>
            }

        </table>


    </div>

</div>

<div>
    <a href="/@Model.First().ArtistaSlug/albums" class="btn btn-default">Albums</a>
</div>



@Scripts.Render("~/bundles/jquery")
<script>

    $("#track-list").on("click", ".play", function (e) {

        e.preventDefault();
        var file = $(this).data("file");
        $("#audio").attr("src", "/Tracks/" + file).trigger("play");

    })

</script>