﻿@model TiendaMusica.Logica.ViewModels.CancionEditarViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@using (Html.BeginForm("Edit", "Canciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Canción</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Audio (mp3 | max 20Mb)</label>
            <div class="col-md-10">
                <input type="file" id="archivo" name="archivo" class="form-control" accept="audio/mp3" />
                <input type="hidden" name="FilePath" value="@Model.FilePath" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <audio id="audio" controls>
                    @if (Model.FilePath != null)
                    {
                        <source src="~/Tracks/@Model.FilePath" type="audio/mpeg">
                    }
                    else {
                        <source type="audio/mpeg">
                    }
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tamano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tamano, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="/@Model.ArtistaSlug/@Model.AlbumSlug/tracks" class="btn btn-default">Cancelar</a>
</div>

@Scripts.Render("~/bundles/jquery")
<script>

    $("#archivo").change(function () {

        var file = (this).files[0];
        $("#Tamano").val(file.size);

        if (file.size > 20480000) {
            $("#archivo").val("");
            alert("El arvhivo supera los 20Mb");
            return;
        }

        if ((this).files && file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#audio').attr('src', e.target.result);
            }
            reader.readAsDataURL(file);
        }
    });

</script>